### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [13]:
total_players = purchase_data["SN"].nunique()
print(f"Total player: {total_players}")

Total player: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
number_unique_items = purchase_data["Item ID"].nunique()
average_price = purchase_data["Price"].mean()
total_num_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

purchase_analysis = pd.DataFrame({"Number of Unique Items":[number_unique_items],
                            "Average Purchase Price": [average_price],
                             "Total Number of Purchases":[total_num_purchases],
                             "Total Revenue":[total_revenue]})

purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map("${:,.2f}".format)
purchase_analysis["Average Purchase Price"] = purchase_analysis["Average Purchase Price"].map("${:.2f}".format)


purchase_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [33]:
gender_demographics = purchase_data.groupby("SN")
gender_demographics_df = pd.DataFrame(gender_demographics["Gender"].unique().value_counts())
gender_demographics_df["Percentage"]=(gender_demographics_df["Gender"]/total_players*100).map("{:,.2f}%".format)
gender_demographics_df = gender_demographics_df.rename(columns={"Gender":"Total Count"})
gender_demographics_df

                         Total Count Percentage
[Male]                           484     84.03%
[Female]                          81     14.06%
[Other / Non-Disclosed]           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
genders= purchase_data.groupby(['Gender'])
gender_count = genders_df.nunique()['SN']

purchase_count = genders['Purchase ID'].count()

average_purchase_price = genders['Price'].mean()
mean_purchase_total = genders['Price'].sum()

average_purchase_per_person = mean_purchase_total / gender_count

gender_analysis = pd.DataFrame({'Purchase Count': purchase_count,
                               'Average Purchase Price': average_purchase_price,
                               'Total Purchase Value': mean_purchase_total,
                               'Average Purchase Total per Person': average_purchase_per_person})

gender_analysis.index.name = "Gender"

gender_analysis.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Average Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [51]:
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 500]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data['Age Group'] = pd.cut(purchase_data["Age"], age_bins, labels=labels)

age_bin_df = purchase_data.groupby('Age Group')
age_count_categories = age_bin_df['SN'].nunique()
age_percentage = (age_count_categories / total_players) * 100
age_demographics_df = pd.DataFrame({'Total Count': age_count_categories,
                                    "Percentage of Players": age_percentage})
age_demographics_df.index.name = None
age_demographics_df.style.format({'Percentage of Players': "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
purchase_count_age = age_bin_df["Purchase ID"].count()

mean_purchase_price_age = age_bin_df["Price"].mean()

total_purchase_value = age_bin_df["Price"].sum()

mean_purchase_per_person_age = total_purchase_value/age_count_categories

age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": mean_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": mean_purchase_per_person_age})

age_demographics.index.name = None

age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
sn_grouped = purchase_data.groupby('SN')

purchase_count_sn = sn_grouped['Purchase ID'].count()

mean_purchase_price_sn = sn_grouped['Price'].mean()

purchase_total_sn = sn_grouped['Price'].sum()


top_spenders_df = pd.DataFrame({'Purchase Count': purchase_count_sn, 
                               'Average Purchase Price': mean_purchase_price_sn,
                               'Total Purchase Value': purchase_total_sn})

formatted_top_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_top_spenders_df.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
items_df = purchase_data[['Item ID', 'Item Name', 'Price']]

items_grouped = items_df.groupby(['Item ID', 'Item Name'])

item_purchases = items_grouped['Price'].count()

purchase_value = items_grouped['Price'].sum()

item_price = purchase_value/item_purchases

popular_items_df = pd.DataFrame({'Purchase Count': item_purchases,
                                'Item Price': item_price,
                                'Total Purchase Value': purchase_value})

popular_items_formatted = popular_items_df.sort_values(["Purchase Count"], ascending=False).head()

popular_items_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [48]:
profitable_sort = popular_items_formatted.sort_values(['Total Purchase Value'], ascending=False).head()
profitable_sort.style.format({'Item Price': '${:,.2f}',
                                  'Total Purchase Value': '${:,.2f}'})